<!DOCTYPE html>
<html ng-app="Memory">
<head>
  <title>Memory</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MemoryController">
  <div>
    <span>Task list</span>
    <div ng-repeat="task in tasks" ng-controller="TaskController">
      <input type="checkbox" ng-model="task.completed">
      <span>{{ task.title }}</span>
    </div>
    <button ng-click="listTasks()">Log Tasks</button>
  </div>
</body>
</html>