<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
  <script src="app.js"></script>
  <script src="routes.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
  <style type="text/css">
    div{
      border: thin solid green;
    }
  </style>
</head>
<body ng-app="Memory">
  <div ui-view></div>
  <input type="text" ng-model="taskName"/>
  <button ng-click="saveTask(taskName)"></button>
</body>
</html>