/* DYNAMIC SIZING */
/* Document level adjustments */
html {
  font-size: 20px;
  font-family: sans-serif;
}

/* Modules scale with document */
.header{
  font-size: 1.5rem;
}
.tasks{
  font-size: 1rem;
}
.footer{
  font-size: 0.5rem;
}
/* Types scale with modules */
caption{
  font-size: 2em;
}
th{
  text-align: left;
}
.task{
  background-color: rgba(0,255,0,0.1);
  font-size: .7em;
  font-weight: lighter;
}
.task td{
  padding-right: 10px;
}
.task .button{
  text-align: center;
}