<!DOCTYPE html>
<html>
<head>
  <script src="node_modules/angular/angular.js"></script>
  <script src="Memory.js"></script>
  <script src="LocalStorage.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
  <script src="directives.js"></script>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="Memory" ng-controller="tasksController as tasksCtrl">
  <h1>Memory</h1>
  <button ng-click="tasksCtrl.clearTasks()">Delete all tasks</button>
  <table>
    <caption>Task list:</caption>
    <tbody>
      <tr>
        <th><!--start/add--></th>
        <th>Task</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Due By</th>
        <th><!--delete/cancel--></th>
      </tr>
      <task ng-repeat="task in tasksCtrl.list"></task>
      <task new></task>
    </tbody>
  </table>
</body>
</html>