<!DOCTYPE html>
<html>
<head>
  <script src="node_modules/angular/angular.js"></script>
  <script src="Memory.js"></script>
  <script src="LocalStorage.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="Memory" ng-controller="tasksController as tasksCtrl">
  <h1>Memory</h1>
  <button ng-click="tasksCtrl.clearTasks()">Delete all tasks</button>
  <table>
    <caption>Task list:</caption>
    <tbody>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Task</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Due By</th>
        <th></th>
      </tr>
      <tr class="task" ng-repeat="task in tasksCtrl.list" ng-controller="taskController as taskCtrl">
        <td><button ng-click="taskCtrl.start(task)">Start</button></td>
        <td>{{task.id}}</td>
        <td><input type="text" ng-model="task.name" placeholder="name" ng-blur="taskCtrl.update(task)"/></td>
        <td><input type="text" ng-model="task.description" placeholder="description" ng-blur="taskCtrl.update(task)" /></td>
        <td><input type="text" ng-model="task.duration" placeholder="duration" ng-blur="taskCtrl.update(task)" /></td>
        <td><input type="text" ng-model="task.dueBy" placeholder="due by" ng-blur="taskCtrl.update(task)" /></td>
        <td><button ng-click="taskCtrl.delete(task)">Delete</button></td>
      </tr>
      <tr class="task" ng-controller="newTaskController as newTask">
        <td><button ng-click="newTask.clear()">Cancel</button></td>
        <td></td>
        <td><input type="text" ng-model="newTask.name" placeholder="name" /></td>
        <td><input type="text" ng-model="newTask.description" placeholder="description" /></td>
        <td><input type="text" ng-model="newTask.duration" placeholder="duration" /></td>
        <td><input type="text" ng-model="newTask.dueBy" placeholder="due by" /></td>
        <td><button ng-click="newTask.add(newTask.name, newTask.duration, newTask.dueBy)">Add</button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>